.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignorar archivos Word
*.docx
*.doc

# Ignorar archivos temporales de Word
~$*.docx
~$*.doc

# Ignorar archivos temporales de Excel
~$*.xlsx

# Ignorar archivos Rproj
*.Rproj
